// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  background: url("/images/bg.png") black no-repeat center center/cover;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  // font-size: 135px;
  font-size: 90px;
  line-height: 128px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 0 1rem;
}

.smaller__heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 62px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

.wrapper .q-field__native {
  color: #fff;
}

.q-item__section--avatar {
  min-width: none;
}
.table_page .q-table__card,
.table_page .q-card,
.table_page .q-tab-panels {
  background: #3c3c3c !important;
}

.table_page td,
.table_page th {
  color: white;
}

.my_container {
  margin: 0 auto;
  width: 70%;
  max-width: 1440px;
}

.kl .q-field__label {
  color: #9b9696 !important;
}

.kl .q-field__prepend i {
  color: #9b9696 !important;
}

.auth .q-stepper__dot {
  border: 1px solid #c1272d;
  background: none;
}
.terms {
  text-transform: capitalize;
  padding: 0;
  font-weight: 700;
}
.terms::before {
  box-shadow: none;
}

.auth .q-stepper__label {
  font-style: normal;
  font-weight: 300;
  font-size: 19.2401px;
  line-height: 23px;
  letter-spacing: 0.001em;
  color: #000000;
}

.auth .q-stepper__header--border {
  border-bottom: none;
}

.nav__links .q-tab__label {
  font-size: 19px;
}

// .auth .q-field__native {
//   color: #fff;
// }

.vendor_onboard .q-field__native {
  color: black !important;
}
.page {
  background: url("/images/bg.png") no-repeat center center/cover;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav__links .q-tab__indicator {
  width: 76px;
  margin: 0 auto;
  height: 7px;
}
.row-posts,
.skeleton {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 18px;
  color: #fff;
  gap: 1rem;
}

.row-posts::-webkit-scrollbar {
  display: none;
}

.row-poster {
  width: 100%;
  object-fit: contain;
  max-height: 5rem;
  margin-right: 0.7rem;
  transition: transform 480ms;
  cursor: pointer;
}

.row-poster:hover {
  transform: scale(1.1);
}

.large-poster {
  max-height: 10rem;
  width: 300px;
  transition: transform 480ms;
}

.large-poster:hover {
  transform: scale(1.12);
}

.head {
  border-left: 6px solid #db6c0d;
}

.music_hold .q-badge {
  background: none !important;
}

.view {
  background: #0b0b0b;
  border: 1.33656px solid #ffffff;
  border-radius: 20.0483px;
  padding: 0.55rem;
  text-transform: capitalize;
  margin: 0.7rem;
}
.view::before {
  box-shadow: none;
}

.footer .q-item {
  min-height: 30px !important;
  padding: 0 !important;
  color: inherit;
  transition: color 0.3s, background-color 0.3s;
}

.sign {
  background: #c1272d;
  box-shadow: 0px 4.25394px 12.7618px rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 0.75rem;
  width: 100px;
}

.connect .q-chip {
  width: 400px !important;
}

.auth .q-stepper--horizontal .q-stepper__step-inner {
  padding: 0 24px;
}

@media (max-width: 1200px) {
  .heading {
    font-size: 70px;
    line-height: 1.2;
  }

  .smaller__heading {
    font-size: 35px;
  }
}
@media (max-width: 800px) {
  .connect .q-chip {
    width: 300px !important;
  }

  .heading {
    font-size: 60px;
    line-height: 1.2;
  }

  .smaller__heading {
    font-size: 33px;
    padding: 1.5rem;
    line-height: 1.2;
  }
}
@media (max-width: 500px) {
  .flexer {
    display: flex;
    flex-direction: column-reverse;
  }

  .my_container {
    width: 100%;
  }
  .auth {
    padding: 1rem;
  }

  .row_Nfts {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
